.create{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: center;
    display: block;
    color: whitesmoke;
}

.create h1{
    font-size: 2em;
    color: whitesmoke;
    margin-bottom: 30px;
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: block;
}

.create button{
    margin: 28px 0px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.create button:hover{
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}